.am-header-text {
    @apply text-4xl font-bold text-stone-800 dark:text-white;
}

.am-subheader-text {
    @apply dark:text-gray-300 text-stone-600;
}

.am-text {
  @apply dark:text-gray-300 text-stone-600
}

.am-separator {
  @apply border-b border-stone-200 dark:border-stone-800
}